body {
    background: grey;
  }
  p {
    color: black;
  }
  h1 {
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  h2 {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  img {
    float: left;
    width: 550px;
    margin: 10px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
  }
  
  h4 {
    font-weight: bold;
    text-align: left;
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  h5 {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  h6 {
    font-weight: bold;
    text-align: left;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  h3 {
    font-weight: bold;
    text-align: left;
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 30px;
  }

  header {
    font-weight: bold;
    text-align: center;
    font-size: 45px;
    color: white;
    background-color: black;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  header a {
    text-decoration: none;
  }

  h2 {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
  }

  a {
    color: blue
  }

  table {
    color: black;
  }

  video {
    margin: 10px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
  }